@charset "utf-8";


html{
  font-size: 62.5%;
}

body{
  margin: 0;
  max-width: 100%;
  font-family: 游明朝体, YuMincho, 游明朝, "Yu Mincho", 游明朝, "Yu Mincho", serif;
}

/*---ヘッダー↓---*/
header{
  width: 100%;
  background-color: #5A442A;
}

.headerInner{
  width: 1000px;
  height: 80px;
  margin: 0 auto;
}

.headerInner h1{
  color: #FFFFFF;
  padding: 24px 0 0 20px;
  margin: 0;
  font-size: 3.2rem;
  font-weight: normal;
}

.headerInner h1 span{
  font-size: 2rem;
}

.headerImg{
  width: 100%;
  display: block;
}


/*---メイン↓---*/
.mainWrapper{
  background-color: #FAF5ED;
  color: #707070;
}

.mainWrapperInner{
  width: 1000px;
  height: 1152px;
  margin: 0 auto;
}

.mainWrapperInner h2{
  font-size: 3.6rem;
  margin: 0;
  padding: 54px 0 30px 20px;
}

.mainWrapperInner h2 span{
  font-size: 2.4rem;
}

.main{
  margin-bottom: 30px;
}

.mainLeft{
  float: left;
  padding: 0 20px 0 20px;
}

.mainRight{
  float: left;
  width: 460px;
  height: 280px;
}

.mainRight p{
  font-size: 1.6rem;
  color: #707070;
  margin: 0;
  line-height: 1.75;
}

.pageButton{
  text-align: center;
}

.link{
  text-decoration: none;
  border-bottom: 2px solid #707070;
  padding: 0 0 2px 0;
}

.large{
  font-size: 3.6rem;
}

.small{
  font-size: 2.4rem;

}

.large, .small{
  font-weight: bold;
  color: #707070;
}


/*---フッター↓---*/
footer{
  background-color: #5A442A;
  width: 100%;
}

smale{
  text-align: center;
  display: block;
  font-size: 16px;
  color: #FFFFFF;
  padding: 22px 0 20px 0;
}
















/*---clearfix↓---*/
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}